/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.card {
  color: white;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
}
.title {
  text-align: center;
}
.form {
  padding: 10px;
  margin: 0px 300px;
}
